html{
  min-width: 250px;
  /*width: 100%;*/
  min-height: 100px;
  text-align: center;
  background: #36465d;
  color: #fff;
}
h1{
  width: 100%;
}
p{
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
input{
  margin: 10px auto;
}