html{
  min-width: 250px;
  /*width: 100%;*/
  min-height: 100px;
  text-align: center;
  /* The extension's background will be the same color as tumblr's */
  background: #36465d;
  /* The text should be white (just like tumblr) */
  color: #fff;
}
h1{
  width: 100%;
}
p{
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
input{
  margin: 10px auto;
}
#alert{
  /* Color any alert messages red */
  color: #f00;
}